body {
 font-family: "Roboto", sans-serif;
 color: #2E2F42;
 background-color: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.header-subtitle {
    color: #4D5AE5;
}

.header-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-navigate-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.header-contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
