body {
 font-family: "Roboto", sans-serif;
 color: #2E2F42;
 background-color: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
/* HEADER */
.header-subtitle {
    font-family: "Raleway";
    color: #4D5AE5;
}

.header-title {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-navigate-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.header-contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* HERO SECTION */
.hero-section {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}
.hero-section-title {
    width: 496px;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.hero-section-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
/* SECTION ADVANTAGES */
.advantages-subtitle {
    width: 264px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.advantages-text {
    color: #434455;
    width: 264px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;

}
/* SECTION OUR TEAM */
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.team-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* SECTION OUR PORTFOLIO */
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.portfolio-services {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.portfolio-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* FOOTER */
.footer-section {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
}

.footer-subtitle {
    font-family: "Raleway";
    color: #4D5AE5;
}

.footer-title {
    color: #F4F4FD;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-text {
    width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
